<!DOCTYPE html>
<html>
<head>
    <title>makitCommerce Admin</title>
    <link href="@Url.Content("~/Content/css/admin.css")" rel="stylesheet" type="text/css" />
</head>
<body>

    <h1>Administration</h1>

    @RenderBody()

</body>
</html>