@model makit.makitCommerce.Domain.Models.Product

<form id="AddForm-@(Model.ProductId)" action="@Url.Action("AddToBasket", "Basket")" method="post" class="addForm">
    @Html.Hidden("productId", Model.ProductId)
    Quantity: <input id="Quantity" name="quantity" type="text" value="1" />
    <input type="submit" value="Add To Basket" />    
</form>